* {
box-sizing: border-box;
margin: 0 auto;
font-family: sans-serif;
}

img {
  max-width: 100%;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.baseball-card {
  flex-basis: 45%;
  border: 1px solid red;
  margin: 2%;
  padding: 1%;
  font-size: 0.75rem;
  text-align: center;
}

table th, table td {
  text-align: center;
  padding: 1%;
}
